<div class="container" >

  <button class="btn btn-success btn-md pull-right" [routerLink]="[ '/add_customer' ]"><i class="fa fa-plus" > Create Customer</i></button><br><br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>customerNumber</th>
        <th>firtsName</th>
        <th>lastName</th>
        <th>birthDate</th>
        <th>username</th>
        <th>PhoneType</th>
        <th>PhoneNumber</th>
        <th>Action</th>
  
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customer" >
        <td>{{item.customerNumber}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.birthDate}}</td>
        <td>{{item.username}}</td>
        <td>{{item.phoneType}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>
            <a class="btn btn-success btn-sm" style="margin-right : 5px" (click)="showAccount(item)" > <i class="fa fa-eye"></i> </a>
          <a class="btn btn-info btn-sm" style="margin-right: 5px " (click)="selectCustomer(item)" > <i class="fa fa-pencil" ></i></a>
          <a class="btn btn-danger btn-sm" (click)="deleteCust(item.customerNumber)" ><i class="fa fa-trash" ></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-update-customer [customer]="selectedCustomer" *ngIf="showDetail" (result)="prosesResult($event)"></app-update-customer>

