<!-- <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
  (click)="frame.show()" mdbWavesEffect>Launch Modal</button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control validate"
            mdbInputDirective>
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>
      </div>
    </div>
  </div>
</div>

 -->

 

<form [formGroup]="angForm" autocomplete="off">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName"  placeholder="Enter firstname">
  </div>
  <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['firstName'].errors.required">
        First Name is required.
      </div>
  </div>
  <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" formControlName="lastName"  placeholder="Enter lastname"> 
  </div>
  <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['lastName'].errors.required">
        LastName Name is required.
      </div>
  </div>
    <div class="form-group">
        <label for="birthDate">Date of birth</label>
        <input type="date" class="form-control" id="birthDate"  formControlName="birthDate">
    </div>
    <div *ngIf="angForm.controls['birthDate'].invalid && (angForm.controls['birthDate'].dirty || angForm.controls['birthDate'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['birthDate'].errors.required">
          BirthDate is required.
        </div>
    </div>
<!-- 
  <div class="form-group">
      <label for="phonetype">Phone Type</label>
      <select formControlName="phoneType" id="phonetype" class="form-control" >
        <option disabled >Choose</option>
        <option>Android</option>
        <option>Iphone</option>
        <option>BlackBerry OS</option>
        <option>Symbian OS</option>
      </select>
      
    </div> -->
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber" formControlName='phoneNumber' placeholder="Enter phoneNumber">
    </div>
    <div *ngIf="angForm.controls['phoneNumber'].invalid && (angForm.controls['phoneNumber'].dirty || angForm.controls['phoneNumber'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['phoneNumber'].errors.required">
          phoneNumber is required.
        </div>
    </div>

  <button type="submit" (click)="submitData()" class="btn btn-primary" [disabled]="angForm.invalid" >Submit</button>

</form>

